{
  "presets": [
    ["env", { "targets": { "node": 7 }, "useBuiltIns": true }],
		"es2015",
    "react",
    "stage-0"
  ],
  "plugins": ["add-module-exports"],
  "env": {
    "production": {
      "presets": ["react-optimize"],
      "plugins": ["babel-plugin-dev-expression"]
    },
    "development": {
      "plugins": [
        "transform-class-properties",
        "transform-es2015-classes",
				"transform-es2015-destructuring",
				"transform-object-rest-spread"
      ],
      "presets": ["react-hmre"]
    },
    "test": {
      "plugins": [
        ["webpack-loaders", { "config": "webpack.config.test.js", "verbose": false }]
      ]
    }
  }
}
