{
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": true
  },
  "extends": ["react-app", "prettier", "prettier/react"],
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {},
  "plugins": ["import", "promise", "compat", "react"],
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "configs/webpack.config.eslint.js"
      }
    }
  }
}
