.body {
  background-image: linear-gradient(45deg, rgba(235, 255, 229, .5) 10%, rgba(216, 255, 200, .7));
  height: 100vh;
}

.table {
  height: 100%;
  display: flex;
  flex-direction: column;
  -webkit-user-select: none;
}

.tableHeader {
  border-bottom: 2px solid #717171;
  font-weight: 700;
}

.tableBody {
  height: calc(100vh - 82px);
  overflow: auto;
}

.tableHeaderRow,
.tableBodyRow {
  display: flex;
  padding: 5px;
}

.tableBodyRow {
  border-bottom: 1px solid #BBBBBB;
  cursor: pointer;
  min-height: 77px;
  max-height: 77px;
}

.tableHeaderRow {
  padding-top: 0;
  padding-bottom: 0;
}

.tableHeaderCell {
  flex: 1;
  padding: 5px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.tableBodyCell {
  flex: 1;
  padding: 5px;
  text-overflow: ellipsis;
  overflow: hidden;
  min-height: 67px;
  max-height: 67px;
}

.active {
  background-color: #FFBF73;
}

.fieldGegenstand {
  font-weight: 700;
  /**
   * show ellipsis ... when text
   * overflows three lines
   * source: http://stackoverflow.com/a/18458345/712005;
   */
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-height: 4.1em;
  overflow: hidden;
}

.columnIdGeschaeft {
  min-width: 44px;
  max-width: 44px;
}

.bodyColumnIdGeschaeft {
  composes: tableBodyCell;
  composes: columnIdGeschaeft;
}

.columnGegenstand {
  width: 100%;
}

.bodyColumnGegenstand {
  composes: tableBodyCell;
  composes: columnGegenstand;
}

.columnStatus {
  min-width: 120px;
  max-width: 120px;
}

.bodyColumnStatus {
  composes: tableBodyCell;
  composes: columnStatus;
}

.columnKontaktIntern {
  min-width: 100px;
  max-width: 100px;
}

.bodyColumnKontaktIntern {
  composes: tableBodyCell;
  composes: columnKontaktIntern;
}

.fieldWarnung {
  font-weight: 900;
  letter-spacing: 0.35em;
  font-size: 16px;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 1.3px;
}

.fieldWarnungFaellig {
  composes: fieldWarnung;
  -webkit-text-fill-color: red;
}

.fieldWarnungHeute {
  composes: fieldWarnung;
  -webkit-text-fill-color: yellow;
}
