.rowsContainer {
  max-height: 17.2cm;
  max-width: 26.7cm;
  overflow: hidden;

  @media print {
    page-break-before: avoid !important;
    page-break-after: avoid !important;
    page-break-inside: avoid !important;
  }
}

.rowsContainerBuilding {
  max-height: 17.2cm;
  max-width: 26.7cm;
  overflow-y: auto;
  overflow-x: hidden;

  @media print {
    page-break-before: avoid !important;
    page-break-after: avoid !important;
    page-break-inside: avoid !important;
  }
}

.footer {
  padding-top: 5px;
  width: 100%;
  max-height: 0.5cm !important;

  @media print {
    page-break-before: avoid !important;
    page-break-after: avoid !important;
    page-break-inside: avoid !important;
  }
}

.footer p {
  /* push down as far as possible */
  margin-bottom: 0;
  float: right;
  text-align: right;
}

.footer p:first-of-type {
  float: left;
  text-align: left;
}

.titleInput {
  margin-top: 3px;
  margin-bottom: 7px;
}

.tableHeader {
  border-bottom: 2px solid #717171;
  font-weight: 700;
}

.h1 {
  cursor: pointer;
  margin-top: 0;
  font-weight: 700;
  font-size: 32px;
  padding-left: 5px;

  @media print {
    page-break-before: avoid !important;
    page-break-after: avoid !important;
    page-break-inside: avoid !important;
  }
}

.filterCriteria {
  margin-top: 10px;
  margin-bottom: 0;
  padding-left: 5px;
}

.sortCriteria {
  margin-top: 0;
  margin-bottom: 10px;
  padding-left: 5px;
}
