.pageContainer {
  /* Divide single pages with some space and center all pages horizontally */
  margin: 1cm auto;
  /* Define a white paper background that sticks out from the darker overall background */
  background: #fff;
  /* Show a drop shadow beneath each page */
  box-shadow: 0 4px 5px rgba(75, 75, 75, 0.2);

  /* enable placing footer absolute */
  position: relative;

  width: 29.7cm;
  height: 20.95cm;
  padding: 1.5cm;

  overflow-y: visible;
}

.pageContainerOverflow {
  /*
   * need overflow while building list
   * so list does not flow outside padding
   * is contained in seperate class so it can
   * only be added while building
   */
  overflow-y: auto;
}

.rowsContainer {
  max-height: 17cm;
  overflow: hidden;
}

/* When the document is actually printed */
@media print {
  .pageContainer {
    /**
     * something seems to change the measurements
     * if they are not repeated here using important
     */
    width: 26.7cm !important;
    height: 17cm !important;
    top: 0 !important;
    max-height: 17cm;
    margin: 0 !important;
    padding: 0 !important;
    overflow-y: hidden !important;
    /* no idea why this is not necessary: */
    /* page-break-after: always !important; */
    page-break-inside: avoid !important;
    page-break-before: always !important;
    /**
     * this is extremely weird:
     * window.print seems to change margins
     * window.printToPdf does not
     */
    /*
    margin-top: -3cm !important;
    margin-left: -1cm !important; */
  }
  /**
   * This was set to 1.8 but when using
   * window.print that is not enough
   */
  .footer {
    bottom: 0 !important;
  }
}

@page {
  margin: 1.5cm;
  size: A4 landscape;
}

@page :left {
  @bottom-right {
    content: "Seite " counter(page) "/" counter(pages);
    margin: 10pt 0 30pt 0;
    border-top: .25pt solid #666;
    font-size: 9pt;
    color: #333;
    background-color: red;
  }
  @left-middle {
    background-color: blue;
    content: "left-middle"
  }
}

.titleInput {
  margin-top: 3px;
  margin-bottom: 7px;
}

.tableHeader {
  border-bottom: 2px solid #717171;
  font-weight: 700;
}

.footer {
  position: absolute;
  width: 100%;
  /**
   * push down so it is never covered
   * by content
   */
  bottom: 0;
}

.footer p {
  position: relative;
  /* push down as far as possible */
  margin-bottom: 0;
  float: right;
  text-align: right;
}

.footer p:first-of-type {
  float: left;
  text-align: left;
}

.h1 {
  cursor: pointer;
  margin-top: 0;
  font-weight: 700;
  font-size: 32px;
  padding-left: 5px;
}

.filterCriteria {
  margin-top: 10px;
  margin-bottom: 0;
  padding-left: 5px;
}

.sortCriteria {
  margin-top: 0;
  margin-bottom: 10px;
  padding-left: 5px;
}
