.areaTitle {
  font-weight: 900;
  font-size: 16px;
}

.areaFristen {
  grid-area: areaFristen;
  background-color: white;
  box-shadow: inset 1em 1em 2em rgb(252, 255, 194), inset -1em -1em 2em rgb(252, 255, 194);
  outline: 1px solid #efefef;
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 2px;
  padding: 8px;
}

.areaFristenTitle {
  composes: areaTitle;
  grid-column: 1;
}
