.areaTitle {
  font-weight: 900;
  font-size: 16px;
}

.areaSubTitle {
  font-weight: 900;
  font-size: 12px;
  margin-top: 5px;
}

.areaPersonenTitle {
  composes: areaTitle;
  grid-column: 1 / span 2;
}

.areaVerantwortlichSubTitle {
  composes: areaSubTitle;
  grid-column: 1 / span 2;
}

.fieldVerantwortlich {
  grid-column: 1 / span 1;
}

.fieldVerantwortlichName {
  grid-column: 2 / span 1;
}

.areaInterneKontakteSubTitle {
  composes: areaSubTitle;
  grid-column: 1 / span 2;
}

.areaExterneKontakteSubTitle {
  composes: areaSubTitle;
  grid-column: 1 / span 2;
}

.narrowVerantwDropdown {
  width: 80px;
}
