.areaTitle {
  font-weight: 900;
  font-size: 16px;
}

.areaLinks {
  grid-area: areaLinks;
  background-color: rgb(227, 232, 255);
  display: grid;
  grid-template-columns: calc(100% - 156px) 70px 70px;
  grid-template-areas:
    "title"
    "links";
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  padding: 8px;
}

.title {
  composes: areaTitle;
  grid-area: title;
}

.links {
  grid-area: links;
  display: grid;
  grid-template-columns: 100%;
}

.fields {
  grid-column: 1;
  display: grid;
  grid-template-columns: 60px calc(100% - 60px);
  grid-gap: 0;
  border-bottom: thin solid #CECBCB;
  padding-left: 13px;
  padding-top: 10px;
  padding-bottom: 10px;
  align-items: center;
}

.fields:first-of-type {
  border-top: thin solid #CECBCB;
}

.fields:hover {
  background-color: rgb(227, 232, 255);
}

.url {
  grid-column: 1;
}

.txt {
  grid-column: 2;
}
