.areaTitle {
  font-weight: 900;
  font-size: 16px;
}

.areaLinks {
  grid-area: areaLinks;
  background-color: #e3fff0;
  display: grid;
  grid-template-columns: calc(100% - 308px) 300px;
  grid-template-areas:
    "title dropzone"
    "links dropzone";
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  padding: 8px;
}

.title {
  composes: areaTitle;
  grid-area: title;
}

.links {
  grid-area: links;
}

.dropzoneContainer {
  grid-area: dropzone;
  width: 100%;
  height: 100%;
}

.dropzone {
  width: 100%;
  height: 100%;
  border-width: 2px;
  border-color: #666;
  border-style: dashed;
  border-radius: 5px;
  padding: 5px;
}

.fields {
  grid-column: 1;
  display: grid;
  grid-template-columns: 60px calc(100% - 60px);
  grid-gap: 0;
  border-bottom: thin solid #CECBCB;
  padding-left: 13px;
  padding-top: 10px;
  padding-bottom: 10px;
  align-items: center;
}

.fields:first-of-type {
  border-top: thin solid #CECBCB;
}

.fields:hover {
  background-color: #ceffe5;
}

.url {
  grid-column: 1;
}

.txt {
  grid-column: 2;
}
