.areaTitle {
  font-weight: 900;
  font-size: 16px;
}

.areaParlVorstTitle {
  composes: areaTitle;
  grid-area: areaParlVorstTitle;
}

.fieldParlVorstossTyp {
  grid-area: fieldParlVorstossTyp;
}

.fieldStufe {
  grid-area: fieldStufe;
}

.fieldZustaendigkeit {
  grid-area: fieldZustaendigkeit;
}
