.body {
  grid-column: 1 / span 2;
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 0;
}

.rowfVDropdown {
  grid-column: 1 / span 1;
  display: grid;
  grid-template-columns: 260px calc(100% - 260px);
  grid-gap: 4px;
  margin-top: 5px;
}

.fVDropdown {
  grid-column: 1 / span 1;
}
